
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "variables";

// Bootstrap
//@import "bootstrap-sass/assets/stylesheets/bootstrap";


@mixin border-radius($radius) {
    -webkit-border-radius: $radius;
       -moz-border-radius: $radius;
            border-radius: $radius;
            border-top-left-radius: $radius;
            border-top-right-radius: $radius;
            border-bottom-left-radius: $radius;
            border-bottom-right-radius: $radius;
}

/* General styles */
* {
    font-family: "Helvetica Neue", HelveticaNeue, "Lato", sans-serif;
    font-weight: 300;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -webkit-tap-highlight-color: transparent;
}

h2 {
	font-weight: 500;
	border-bottom: solid #636b6f 4px;
}

.jumbotron {
	background-color: #6392bb;
}

.container {
	background-color: white;
	padding:25px;
}

input[type="text"],
input[type="password"],
input[type="date"],
input[type="email"],
input[type="number"],
select {
    @include border-radius(5px !important);
    padding: 0 10px;
}

/* Overrides */

.navbar-inverse .navbar-brand {
    color: white;
}

.navbar-inverse .navbar-nav>li>a {
    color: white;
}

