<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Centro de Ludopatía</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="#">Home</a></li>
      <li><a href="#">Nuevo Paciente</a></li>
      <li><a href="#">Ver paciente</a></li>
    </ul>
  </div>
</nav>

    <!-- Main jumbotron for a primary marketing message or call to action -->
    

    <div class="jumbotron">
      <div class="container">
        <h2>Abuso de Sustancias</h2>
      </div>
  
      <div class="row">
        <div class="col-md-8">
          <select name="Historial de abuso de sustancias">
          <option>Historia de abuso de sustancias</option>
          <option>Si</option>
          <option>No</option>>
          </select>
          
          <select name="Dependencia de sustancias">
          <option>Dependencia de sustancias</option>
          <option>Si</option>
          <option>No</option>>
          </select> 
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <input placeholder="Actuales"></input>
          <br>
          </body>
          <input type="checkbox" name="Dependencia de sustancias Actuales" value="1">Alcohol
          <input type="checkbox" name="Dependencia de sustancias Actuales" value="2">Anfetaminas
          <input type="checkbox" name="Dependencia de sustancias Actuales" value="3">Marihuana    
          <br>
          <input type="checkbox" name="Dependencia de sustancias Actuales" value="4">Cocaína / Crack
          <input type="checkbox" name="Dependencia de sustancias Actuales" value="5">Alucinógenos
          <input type="checkbox" name="Dependencia de sustancias Actuales" value="6">Inhalantes
          <br>
          <input type="checkbox" name="Dependencia de sustancias Actuales" value="7">Opiáceos / Heroína
          <input type="checkbox" name="Dependencia de sustancias Actuales" value="8">PCP
          <input type="checkbox" name="Dependencia de sustancias Actuales" value="9">Sedantes, hipnóticos, ansiolíticos 
          <br>
          <input type="checkbox" name="Dependencia de sustancias Actuales" value="10">Otros
          <br>
        </div>
      </div>


<div class="row">
        <div class="col-md-12">
          <input placeholder="Anteriores"></input>
          <br>
          </body>
          <input type="checkbox" name="Dependencia de sustancias Anteriores" value="1">Alcohol
          <input type="checkbox" name="Dependencia de sustancias Anteriores" value="2">Anfetaminas
          <input type="checkbox" name="Dependencia de sustancias Anteriores" value="3">Marihuana    
          <br>
          <input type="checkbox" name="Dependencia de sustancias Anteriores" value="4">Cocaína / Crack
          <input type="checkbox" name="Dependencia de sustancias Anteriores" value="5">Alucinógenos
          <input type="checkbox" name="Dependencia de sustancias Anteriores" value="6">Inhalantes
          <br>
          <input type="checkbox" name="Dependencia de sustancias Anteriores" value="7">Opiáceos / Heroína
          <input type="checkbox" name="Dependencia de sustancias Anteriores" value="8">PCP
          <input type="checkbox" name="Dependencia de sustancias Anteriores" value="9">Sedantes, hipnóticos, ansiolíticos 
          <br>
          <input type="checkbox" name="Dependencia de sustancias Anteriores" value="10">Otros
          <br>
        </div>
      </div>
      <div class="row">
        <div class="col-md-8">
          <input placeholder="PROBLEMAS RELACIONADOS AL CONSUMO DE SUSTANCIAS"></input>
         <div>
        <div>
      <button class="btn" style="float:right;">Guardar</button>
          
    </div> <!-- jumbotron -->
<hr>
<div class="container">
 <footer>
   <p>© Centro de Ludopatia 2017</p>
 </footer>
</div>