<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Centro de Ludopatía</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="#">Home</a></li>
      <li><a href="#">Nuevo Paciente</a></li>
      <li><a href="#">Ver paciente</a></li>
    </ul>
  </div>
</nav>

    <!-- Main jumbotron for a primary marketing message or call to action -->
    

    <div class="jumbotron">
      <div class="container">
        <h2>Antecedentes Ginecobstetricos</h2>
      </div>
  
      <div class="row">
        <div class="col-md-8">
          <input placeholder="Menarca"></input>
          <input placeholder="Años"></input>
        
<!doctype html>
<html>
<head>
<meta charset="utf-8" />
<title>jQuery UI Datepicker - Entrada de texto</title>
<link rel="stylesheet" href="http://code.jquery.com/ui/1.10.1/themes/base/jquery-ui.css" />
<script src="http://code.jquery.com/jquery-1.9.1.js"></script>
<script src="http://code.jquery.com/ui/1.10.1/jquery-ui.js"></script>
<script src="jquery.ui.datepicker-es.js"></script>

<script>
$(function () {
$.datepicker.setDefaults($.datepicker.regional["es"]);
$("#datepicker").datepicker({
firstDay: 1
});
});
</script>
</head>

<body>
Fum:
<input type="text" id="datepicker" />
</body>
</html>      
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <input placeholder="Genero"></input>
        
          <select name="Ritmo">
          <option>Ritmo</option>
          <option>Regular</option>
          <option>Irregular</option>
           <option>Histerectomía/Menopausia  </option>
          <option>No aplica</option>
          </select>

        <select name="Tención Premestrual">
          <option>Nada</option>
          <option>Ligera</option>
          <option>Moderada</option>
           <option>Marcada</option>
          </select>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <input placeholder="Vida sexual activa"></input>
          <input placeholder="Inicio"></input>
          <input placeholder="Años"></input>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <input placeholder="# compañeros sexucales"></input>
          <input placeholder="Actuales"></input>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <input placeholder="Antecedentes obstetrcos"></input>
        </div>
      </div>
<div class="row">
        <div class="col-md-12">
        <select name="¿Embarazo actual?">
        <option>¿Embarazo actual?</option>
          <option>Si</option>
          <option>No</option>
          <option>Incierto</option>
          </select>
          <input placeholder="Semanas de embarazo"></input>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <select name="Lactancia">
          <option>Lactancia</option>
          <option>Si</option>
          <option>No</option>
          </select>
          
          <select name="Posibilidad de embarazo">
          <option>Posibilidad de embarazo</option>
          <option>Si</option>
          <option>No</option>
          </select>
          </div>
      </div>
          
<div class="row">
        <div class="col-md-12">  
          <body>
           <input placeholder="¿Utiliza algun metodo Anticonceptivo?"></input>
          <br>
          </body>
          <input type="checkbox" name="Metodo anticonceptivo" value="1">Ninguno
          <input type="checkbox" name="Metodo anticonceptivo" value="2">Histerectomía
          <input type="checkbox" name="Metodo anticonceptivo" value="3">Ritmo    
          <br>
          <input type="checkbox" name="Metodo anticonceptivo" value="4">Anticonseptivos orales
          <input type="checkbox" name="Metodo anticonceptivo" value="5">Inyectables
          <input type="checkbox" name="Metodo anticonceptivo" value="6">Salpingoclasia
          <br>
          <input type="checkbox" name="Metodo anticonceptivo" value="7">Su pareja
          <input type="checkbox" name="Metodo anticonceptivo" value="8">DIU
          <input type="checkbox" name="Metodo anticonceptivo" value="9">Espermaticidas 
          <br>
          <input type="checkbox" name="Metodo anticonceptivo" value="10">Coito interrumpido
          <input type="checkbox" name="Metodo anticonceptivo" value="11">Menopaucia
          <br>
          <input type="checkbox" name="Metodo anticonceptivo" value="12">Preservativo
        </div>
      </div>
      <button class="btn" style="float:right;">Guardar</button>
          
    </div> <!-- jumbotron -->
<hr>
<div class="container">
 <footer>
   <p>© Centro de Ludopatia 2017</p>
 </footer>
</div>