<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Centro de Ludopatía</a>
    </div>
    <ul class="nav navbar-nav">
      <li><a href="#">Home</a></li>
      <li class="active"><a href="#">Nuevo Paciente</a></li>
      <li><a href="#">Ver paciente</a></li>
    </ul>
  </div>
</nav>

    <!-- Main jumbotron for a primary marketing message or call to action -->
    

    <div class="jumbotron">
      <div class="container">
        <h2>Datos Generales</h2>
        
        <div class="row">
          <div class="col-md-12">
            <input placeholder="Nombre(s)"></input>
            <input placeholder="Apellido Paterno"></input>
            <input placeholder="Apellido Materno"></input>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <input placeholder="Sexo"></input>
            <input placeholder="Motivo de consulta"></input>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <input placeholder="Edad"></input>
            <input placeholder="Referido por"></input>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <input class="allwidth" placeholder="Direccion"></input>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <input class="allwidth" placeholder="Telefono"></input>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <input placeholder="Fecha de nacimiento"></input>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <select>
              <option value="0">Lugar de Residencia</option>
              <option value="Monterrey">Monterrey</option>
              <option value="Guadalupe">Guadalupe</option>
              <option value="San Nicolás">San Nicolás</option>
              <option value="Garza García">Garza García</option>
              <option value="Apodaca">Apodaca</option>
              <option value="Escobedo">Escobedo</option>
              <option value="OtroMun">Otro (Mun. N.L.)</option>
              <option value="OtroEst">Otro Estado</option>
            </select>
          </div>
        </div>
      </div>

      <div class="container">
        <h2>Datos Demograficos</h2>
        
        <div class="row">
          <div class="col-md-12">
            <h4>Estado Civil</h4>
            <input type="checkbox" name="estadocivil" value="Soltero">Soltero<br>
            <input type="checkbox" name="estadocivil" value="Casado">Casado<br>
            <input type="checkbox" name="estadocivil" value="Separado">Separado<br>
            <input type="checkbox" name="estadocivil" value="Divorciado">Divorciado<br>
            <input type="checkbox" name="estadocivil" value="Viudo">Viudo<br>
            <input type="checkbox" name="estadocivil" value="Union Libre">Union Libre<br>
          </div>
        </div>
        <br>
        <div class="row">
          <div class="col-md-12">
            <input placeholder="Religion"></input>
            <input placeholder="Escolaridad"></input>
          </div>
        </div>

            <h4>¿Quién provee el sustento familiar?</h4>
            <input type="checkbox" name="sustento" value="Paciente">Paciente<br>
            <input type="checkbox" name="sustento" value="Cónyuge">Cónyuge<br>
            <input type="checkbox" name="sustento" value="Igualmente compartido">Igualmente compartido<br>
            <input type="checkbox" name="sustento" value="Padres">Padres<br>
            <input type="checkbox" name="sustento" value="Hermano">Hermano<br>
            <input type="checkbox" name="sustento" value="Parientes">Parientes<br>
            <input type="checkbox" name="sustento" value="Compañero">Compañero<br>
            <input type="checkbox" name="sustento" value="Pension">Pension<br>
            <input type="checkbox" name="sustento" value="Otro">Otro<br>
            <br>
            <input class="allwidth" placeholder="Ocupación del jefe de familia"></input>
            <input class="allwidth" placeholder="Ocupación del paciente"></input>
      </div>

      <button class="btn" style="float:right;">Guardar</button>
          
    </div> <!-- jumbotron -->
<hr>
<div class="container">
 <footer>
   <p>© Centro de Ludopatia 2017</p>
 </footer>
</div>
