<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">Centro de Ludopatía</a>
        </div>
        <ul class="nav navbar-nav">
            <li class="active"><a href="#">Home</a></li>
            <li><a href="#">Nuevo Paciente</a></li>
            <li><a href="#">Ver paciente</a></li>
            <li><a href="#">Examenes</a></li>
        </ul>
    </div>
</nav>

<!-- Main jumbotron for a primary marketing message or call to action -->


<div class="jumbotron">
    <div class="container">
        <h2>Informacion personal</h2>
    </div>

    <div class="row">
        <div class="col-md-8">
            <input placeholder="Nombre(s)"></input>
            <input placeholder="Apellido Paterno"></input>
            <input placeholder="Apellido Materno"></input>
        </div>
    </div>


    <div class="container">
        <h2>Examen mental</h2>
    </div>
    <div class="row">
        <div class="col-md-12">
            <input type="text" placeholder="Escalas"></input>
            <br/>
            <textarea placeholder="hallazgos" rows="3" cols="50"></textarea>
            <br/>
            <textarea placeholder="Diágnostico Primario" cols="100" rows="8"></textarea>
            <br/>
            <textarea placeholder="Diágnostico Secundario" cols="100" rows="8"></textarea>
            <br/>
            <textarea placeholder="Plan de Tratamiento" cols="100" rows="8"></textarea>
        </div>
    </div>
</div>
<button class="btn" style="float:right;">Guardar</button>

</div>
<!-- jumbotron -->
<hr>
<div class="container">
    <footer>
        <p>© Centro de Ludopatia 2017</p>
    </footer>
</div>
</body>
</html>