<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">Centro de Ludopatía</a>
        </div>
        <ul class="nav navbar-nav">
            <li class="active"><a href="#">Home</a></li>
            <li><a href="#">Nuevo Paciente</a></li>
            <li><a href="#">Ver paciente</a></li>
            <li><a href="#">Examenes</a></li>
        </ul>
    </div>
</nav>

<!-- Main jumbotron for a primary marketing message or call to action -->


<div class="jumbotron">
    <div class="container">
        <h2>Paciente</h2>
    </div>

    <div class="row">
        <div class="col-md-8">
            <input placeholder="Nombre(s)"></input>
            <input placeholder="Apellido Paterno"></input>
            <input placeholder="Apellido Materno"></input>
        </div>
    </div>
    <div class="container">
        <h2>Exploración Física</h2>
    </div>
    <div class="row">
        <div class="col-md-12">
            <textarea placeholder="Condición general" rows="6" cols="100"></textarea>
            <br/>
            <textarea placeholder="Estado de piel" rows="6" cols="100"></textarea>
            <br/>
            <textarea placeholder="Estado de cabeza" rows="6" cols="100"></textarea>
            <br/>
            <textarea placeholder="Estado de ojos" rows="6" cols="100"></textarea>
            <br/>
            <textarea placeholder="Estado de oídos, nariz y garganta" rows="6" cols="100"></textarea>
            <br/>
            <textarea placeholder="Estado de cuello y tiroides" rows="6" cols="100"></textarea>
            <br/>
            <textarea placeholder="Estado de pulmones" rows="6" cols="100"></textarea>
            <br/>
            <textarea placeholder="Estado de corazón" rows="6" cols="100"></textarea>
            <br/>
            <textarea placeholder="Estado Gastrointestinal" rows="6" cols="100"></textarea>
            <br/>
            <textarea placeholder="Estado de lineáticos" rows="6" cols="100"></textarea>
            <br/>
            <textarea placeholder="Estado del hígado" rows="6" cols="100"></textarea>
            <br/>
            <textarea placeholder="Estado del músculo esquelético" rows="6" cols="100"></textarea>
            <br/>
            <textarea placeholder="Estado neurológico" rows="6" cols="100"></textarea>
        </div>
    </div>
    <button class="btn" style="float:right;">Guardar</button>

</div> <!-- jumbotron -->
<hr>
<div class="container">
    <footer>
        <p>© Centro de Ludopatia 2017</p>
    </footer>
</div>

</body>
</html>