<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">Centro de Ludopatía</a>
        </div>
        <ul class="nav navbar-nav">
            <li class="active"><a href="#">Home</a></li>
            <li><a href="#">Nuevo Paciente</a></li>
            <li><a href="#">Ver paciente</a></li>
        </ul>
    </div>
</nav>

<!-- Main jumbotron for a primary marketing message or call to action -->


<div class="jumbotron">
    <div class="container">
        <h2>Informacion personal</h2>
    </div>

    <div class="row">
        <div class="col-md-8">
            <input placeholder="Nombre(s)"></input>
            <input placeholder="Apellido Paterno"></input>
            <input placeholder="Apellido Materno"></input>
        </div>
    </div>
    <

    <div class="container">
        <h2>HISTORIA PSIQUIATRICA FAMILIAR</h2>
    </div>
    <div class="row">
        <div class="col-md-12">
            <label>Ezquizofrenia</label>
            <input type="radio" name="ezquizofrenia" value="1">
            <br/>
            <label>Bipolaridad</label>
            <input type="radio" name="bipolaridad" value="1">
            <br/>
            <label>Alcoholismo</label>
            <input type="radio" name="alcoholismo" value="1">
            <br/>
            <label>Drogas</label>
            <input type="radio" name="drogas" value="1">
            <br/>
            <label>Depresión</label>
            <input type="radio" name="depresion" value="1">
            <br/>
            <label>Disimia</label>
            <input type="radio" name="disimia" value="1">
            <br/>
            <label>Panico</label>
            <input type="radio" name="panico" value="1">
            <br/>
            <label>Agorafobia</label>
            <input type="radio" name="agorafobia" value="1">
            <br/>
            <label>Obsesivo Compulsivo</label>
            <input type="radio" name="obsesion" value="1">
            <br/>
            <label>Fobia Social</label>
            <input type="radio" name="fobia_social" value="1">
            <br/>
            <label>Fobia Especifica</label>
            <input type="radio" name="fobia_especifica" value="1">
            <br/>
            <label>Ansiedad</label>
            <input type="radio" name="Ansiedad" value="1">
            <br/>
            <label>Demencia</label>
            <input type="radio" name="demencia" value="1">
            <br/>
            <label>Retraso Mental</label>
            <input type="radio" name="retraso_mental" value="1">
            <br/>
            <label>Trastorno de Personalidad</label>
            <input type="radio" name="trastorno_personalidad" value="1">
            <br/>
        </div>
    </div>
    <button class="btn" style="float:right;">Guardar</button>

</div> <!-- jumbotron -->
<hr>
<div class="container">
    <footer>
        <p>© Centro de Ludopatia 2017</p>
    </footer>
</div>

</body>
</html>